ul{list-style: none outside none;margin:0;}
body{background:#fffbbe;}
.qipan{
	/*background: url(qipan.png) no-repeat;*/
	width: 860px; 
	height: 933px;
	margin: 50px auto;
	position: relative;
}
.item{
	position: absolute;
	background: url(qizi.png) 100px 100px no-repeat;
	width: 100px;
	height: 100px;
	z-index: 1;
}

.r-shuai{background-position: 0px 0px;}
.r-shi{background-position: 0px -100px;}
.r-xiang{background-position: 0px -200px;}
.r-ma{background-position: 0px -300px;}
.r-che{background-position: 0px -400px;}
.r-pao{background-position: 0px -500px;}
.r-zu{background-position: 0px -600px;}

.b-shuai{background-position: -100px 0px;}
.b-shi{background-position: -100px -100px;}
.b-xiang{background-position: -100px -200px;}
.b-ma{background-position: -100px -300px;}
.b-che{background-position: -100px -400px;}
.b-pao{background-position: -100px -500px;}
.b-zu{background-position: -100px -600px;}

.empty{border: 1px solid #000;}
.hover{border: 1px solid green;}
